.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    border-bottom: 1px solid #f9f9f9;
    margin: 0px 10px 0px 10px;
}

.header .headerLogo {
    object-fit: contain;
    height: 50px;
    animation: pulse 3.5s ease-in-out 1;
}

.headerIcon {
    padding: 20px;
}


@keyframes pulse {
    0%, 100% {
        transform: scale(1); /* Normal size */
    }
    50% {
        transform: scale(1.25); /* 1.3x size */
    }
    75% {
        transform: scale(1.7); /* 1.8x size */
    }
}